@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Baloo Bhai', cursive;
    color: #A71F61;
    letter-spacing: 1.5px;
}

/* Header */

.header {
    height: 60px;
    background: #011E31;;
}

.header h1 {
    margin: 10px auto 10px 10px;
}

.header .contenedor {
    display: flex;
    justify-content: space-between;
}

.icon-menu    {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #A71F61;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    margin: 10px 10px 10px auto;
    cursor: pointer;
}

/* Menú */

.nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.5s;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu_link    {
    display: block;
    padding: 20px;
    background: #011E31;
    text-decoration: none;
    color: #fff;
}

.menu_link:hover    {
    background: #A71F61;
}

.mostrar {
    left: 0;
}

header nav ul li:hover #submenu-desplegables {
    display: block;
}

header nav ul li #submenu-desplegables {
    display: none;
    background: #011E31;
    position: absolute;
    width: 250%;
    z-index: 1000;
}

header nav ul li #submenu-desplegables li {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

header nav ul li #submenu-desplegables li a {
    display: block;
}

@media (min-width=786px){
        header nav ul li .submenu-desplegables {
        width: 100%;
        position: relative;

    }
    
        header nav ul li .submenu-desplegables a {
        width: 100%;
        position: relative;
        background: white;
        color: #A71F61;
    }
    
    header nav ul li .submenu-desplegables a:hover {
        width: 100%;
        position: relative;
        background: #A71F61;
        color: white;
    }
}
